<div class="wrapper-countdown m-auto">
    <div class="flex flex-col items-center">
        <h1 class="m-4 dark:text-white">Countdown Timer</h1>
        <div class="flex h-10 my-6">
            <input type="tel" name="hour" [(ngModel)]="hour" placeholder="hour"
                class="w-12 mx-2 rounded-md text-center">
            <input type="tel" name="minute" [(ngModel)]="minute" placeholder="minute"
                class="w-12 mx-2 rounded-md text-center">
        </div>
        <div class="flex">
            <button class="btn btn-red m-2" (click)="onResetClicked()">Reset</button>
            <button class="btn btn-add m-2" (click)="onStartClicked()">Start</button>
        </div>
    </div>

    <div class="flex justify-center items-center dark:text-white" *ngIf="date">
        <div class="flex flex-col items-center m-3" *ngIf="date.days!=='00'">
            <div class="flex text-4xl">{{date.days}}</div>
            <div class="flex">Day</div>
        </div>
        <div class="flex flex-col items-center m-3">
            <div class="flex text-4xl">{{date.hours}}</div>
            <div class="flex">Hour</div>
        </div>
        <div class="flex flex-col items-center m-3">
            <div class="flex text-4xl">{{date.minutes}}</div>
            <div class="flex">Minute</div>
        </div>
        <div class="flex flex-col items-center m-3">
            <div class="flex text-4xl">{{date.seconds}}</div>
            <div class="flex">Second</div>
        </div>
    </div>
</div>