<div [ngClass]="{'dark': isDarkMode}">
  <!-- Toolbar -->
  <div class="toolbar px-4 bg-blue-600 dark:bg-black" role="banner">
    <img class="cursor-pointer" width="40" alt="Alien" src="assets/icons/laptop.svg" (click)="scrollToView('home')" />
    <div class="flex flex-row">
      <div class="cursor-pointer" (click)="scrollToView('home')">Sumeet Maharjan</div>
      <div class="ml-5 cursor-pointer" (click)="scrollToView('about')">About</div>
      <div class="ml-5 cursor-pointer" (click)="scrollToView('skills')">Skills</div>
      <div class="ml-5 cursor-pointer" (click)="scrollToView('works')">Work</div>
      <div class="ml-5 cursor-pointer" [routerLink]="['/','projects']">Project</div>
    </div>
    <div class="spacer"></div>
    <label class="switch">
      <input type="checkbox" checked (click)="toggleDarkMode()">
      <span class="slider round"></span>
    </label>
  </div>
  <div role="main" class="dark:bg-gray-700" style="margin-top: 60px;">
    <router-outlet></router-outlet>
  </div>
</div>