@mixin button-variant($color, $background) {
    color: $color;
    background-color: $background;

    &:hover {
        color: $color;
        background-color: darken($background, 5%);
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $color;
        background-color: darken($background, 5%);

        &:hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: darken($background, 17%);
            box-shadow: none;
        }
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus,
        &.focus {
            background-color: $background;
        }
    }

    &:disabled {
        background-color: lighten($color: $background, $amount: 10);
        &:hover {
            background-color: lighten($color: $background, $amount: 10);
        }
    }

    .badge {
        color: $background;
        background-color: $color;
    }

    &.btn-sm {
        min-width: fit-content;
        font-size: small;
    }

    &.btn-nobg {
        color: $background;
        border: 1px solid $background;
        border-radius: 0;
        background-color: transparent;
        &:hover {
            background-color: $background;
            color: $color;
        }
    }
}
