.wrap {
    min-height: 100vh;
}



.res-section {
    .sec-block {
        padding: 0 0 0 1rem;

        .sec-sub {
            font-style: italic;
        }

        .sec-year {
            font-style: italic;
            color: #449399;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
        }
    }

    .sec-detail {
        margin-top: 2rem;
    }
}

.hovEff {
    cursor: pointer;

    &:hover {
        @apply bg-gray-600 text-white;
    }
}
