.wrap {
    min-height: 100vh;
}

.tag {
    background-color: cadetblue;
    border-radius: 15px;
    padding: 5px 15px;
    user-select: none;
    color: white;
    font-size: 1.5rem;
}
