.tooltip {
    position: relative;
}
.tooltip:hover:after {
    display: flex;
    justify-content: center;
    background: $bizDark;
    border-radius: 8px;
    color: #fff;
    content: attr(title);
    margin: -82px auto 0;
    font-size: 16px;
    padding: 13px;
}
.tooltip:hover:before {
    border: solid;
    border-color: $bizDark transparent;
    border-width: 12px 6px 0 6px;
    content: '';
    left: 45%;
    bottom: 30px;
    position: absolute;
}
